.navigation {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 100%;

  &__buttons { 
    font-family: 'Cinzel', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
  }  

  &__button {    
    a {
      color: black;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      text-decoration: none;
    }
  }

  &--white {
    .navigation__button {
      a {
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.arrows {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 32px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 5;
  bottom: 48px;
  right: 48px;
  transform: rotate(45deg);
  transform: translateX(80px);
  transition: transform .2s;
  opacity: 70%;

  &--active {
    transform: translateX(0);
    transform: rotate(45deg);
  }

  &:after, &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-left: 2px solid black;
  }

  &:after {
    margin-top: -2px;
    margin-left: -2px;
  }

  &:before {
    margin-top: 4px;
    margin-left: 4px;
  }
  &:hover {
    opacity: 100%;
  }
}
.header {
  font-family: 'BebasNeue-Book';
  letter-spacing: 5px;
  font-size: 68px;
  color: rgb(205, 209, 218);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  margin-top: 330px;
  margin-left: 230px;
  padding: 90px;
}
.header__paragraph {
  font-size: 38px;
  text-align: center;
  font-family: 'BebasNeue-Light';
}

.social-icons {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 65px;
  z-index: 4;

  &__link {
    margin: 7px;
    opacity: 80%;

    &:hover {
    opacity: 100%;
  } 
  }
}