.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.paddingBottom {
  padding-bottom: 30px;
}

@include mobile() {
  .mobile-flex-column {
    flex-direction: column;
  }

  .mobile-order-3 {
    order: 3;
  }
}

.mobile-hide {
  display: block;
  @include mobile() {
    display: none;
  }
}

.mobile-show {
  display: none;
  @include mobile() {
    display: block;
  }
}
