.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  flex-direction: column;
}

.paddingBottom {
  padding-bottom: 30px;
}


