* {
  position: relative;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: rgb(244, 244, 244);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding: 24px 15%;
  z-index: 3;
}

.layout {
  &-default {
    width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
  }

  &-main {
    background-image: url($baseurl + '/assets/images-main/1.jpg');
  }

  &-sluby {
    background-image: url($baseurl + '/assets/images-sluby/slubyBackground.jpg');
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  
    &__photos {
      transform: translate3d(0,0,0);
      z-index: 2;
      background-color: white;
    }
  }

  &-eventy {
    background-image: url($baseurl + '/assets/images-eventy/eventy.jpg');
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  
    &__photos {
      transform: translate3d(0,0,0);
      z-index: 2;
      background-color: white;
    }
  }

  &-about {
    min-height: calc(100vh - 126px);
    background-image: url($baseurl + '/assets/images-omnie/background3.jpg');
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    div:last-child {
        margin-left: 80px;
        margin-bottom: 10px;
        font-family: 'Pragati Narrow', sans-serif;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.5px;
      
        @include tablet() {
          font-size: 17px;
        }
      
        @include mobile() {
          font-size: 16px;
          margin-left: 0;
          p {
            text-align: center;
          }
        }
    }

    @include mobile() {
      flex-direction: column;
      justify-content: start;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 3;
  padding: $space-4;
  background-color: rgb(30, 30, 30);
  font-family: 'BebasNeue-Book';
  letter-spacing: 1px;
  color: white;
  font-size: 18px;
  text-align: center;

  @include tablet() {
    font-size: 14px;
  }

  @include mobile() {
    font-size: 12px;
    
  }
}

