* {
  position: relative;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: rgb(244, 244, 244);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding: 24px 15%;
  z-index: 3;
}

.layout-default {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.layout__main {
  background-image: url($baseurl + '/assets/images-main/1.jpg');
}

.layout-sluby {
  background-image: url($baseurl + '/assets/images-sluby/slubyBackground.jpg');
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  &__photos {
    z-index: 2;
    background-color: white;
  }
}
.layout__omnie {
  // background-color: rgb(245, 248, 252);
  background-image: url($baseurl + '/assets/images-omnie/background3.jpg');
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myPhoto {
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.4);
  background-color: #D7D4D4;
  border-radius: 255px 15px 270px 9px/15px 225px 15px 290px;
  border: solid 4px #D7D4D4;
  img {
    margin-top: 4px;
  }
}
.layout__textOmnie {
  margin-left: 80px;
  margin-bottom: 120px;
  font-family: 'Pragati Narrow', sans-serif;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.5px;

  @include tablet() {
    font-size: 2px;
  }
}

.layout__textKontakt {
  margin-left: 80px;
  margin-bottom: 120px;
  font-family: 'Pragati Narrow', sans-serif;
  text-align: center;
  font-size: 20px;

}
.layout__videos {
  justify-content: center;
  width: 100%;
  height: 100%;
  align-content: center;
  border: 3px;
  padding-top: 100px;
}

.layout__portfolio {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 580px repeat(5, 570px);
  grid-gap: 15px;
  padding: 10px;
  grid-auto-flow: dense;

  @include tablet() {
    grid-template-columns: 2;
  }

  @include mobile() {
    grid-template-columns: 1;
  }



  .image1Big {
    grid-column: span 8;
  }
  .image2 {
    grid-column: span 4;
  }
  .image3 {
    grid-column: span 4;
  }
  .image4 {
    grid-column: span 4;
  }
  .image5 {
    grid-column: span 4;
  }
  .image6 {
    grid-column: span 3;
  }
  .image7Big {
    grid-column: span 6;
  }
  .image8 {
    grid-column: span 3;
  }
  .image9 {
    grid-column: span 4;
  }
  .image10Big {
    grid-column: span 8;
  }
  .image11 {
    grid-column: span 3;
  }
  .image12 {
    grid-column: span 3;
  }
  .image13 {
    grid-column: span 3;
  }
  .image14 {
    grid-column: span 3;
  }
  .image15 {
    grid-column: span 6;
  }
  .image16 {
    grid-column: span 6;
  }

  .layout__image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  
    &:hover {
      img {
        transform: scale(1.1)
      }
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50;
      cursor: pointer;
      transition: .5s ease-in-out;
    }
  }
}
#image-popup {

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    object-position: center;
    z-index: 5;
  }
  
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 3;
  padding: $space-4;
  background-color: rgb(30, 30, 30);
  font-family: 'BebasNeue-Book';
  letter-spacing: 1px;
  color: white;
  font-size: 18px;
  text-align: center;
}
