.mt1 {
  margin-top: $space-1;
}

.mt2 {
  margin-top: $space-2;
}

.mt3 {
  margin-top: $space-3;
}

.mt4 {
  margin-top: $space-4;
}

.mt5 {
  margin-top: $space-5;
}

.p4 {
  padding: $space-4;
}

.p5 {
  padding: $space-5;
}

.p6 {
  padding: $space-6;
}

.px6 {
  padding-left: $space-6;
  padding-right: $space-6;
}

.px6 {
  padding-left: $space-6;
  padding-right: $space-6;
}

.py4 {
  padding-top: $space-4;
  padding-bottom: $space-4;
}

@include mobile() {
  .mobile-mt02 {
    margin-top: $space-2;
  }

  .mobile-mt2 {
    margin-top: $space-2;
  }

  .mobile-mb2 {
    margin-bottom: $space-2;
  }
}
