.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  z-index: 8;
  position: fixed;
  left: $space-3;

  &--active {
    transform: translateX(250px);
  }

  &__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  &__inner {
    @include hamburger-line;
  
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
  }

  &__inner::before,
  &__inner::after {
  @include hamburger-line;

  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
  }

  &__inner::before {
    top: -10px;
  }
  
  &__inner::after {
    top: 10px;
  }
}

.hamburger, .hamNav {
  transition: transform .3s .1s ease-in-out;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.hamNav {
  height: 100vh;
  width: 250px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-250px);

  &--active {
    transform: translateX(0px);
  }

  &__list {
    list-style: none;
    margin-top: 50px;
  }

  &__item {
    margin-bottom: 20px;
  
    a {
      text-decoration: none;
      color: #171717;
    }
  }
}