.header {
  font-family: 'BebasNeue-Book';
  letter-spacing: 5px;
  font-size: 68px;
  color: rgb(205, 209, 218);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  margin-top: 330px;
  margin-left: 230px;
  padding: 90px;

  @include tablet() {
    font-size: 52px;
  }

  @include mobile() {
    font-size: 34px;
    margin-top: 350px;
    margin-left: 170px;
  }
  
  &__paragraph {
    font-size: 38px;
    text-align: center;
    font-family: 'BebasNeue-Light';
  
    @include tablet() {
      font-size: 28px;
    }
  
    @include mobile() {
      font-size: 20px;
    }
  }
}