.video {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 75%;
  height: 40vw;
  padding-top: 100px;
  padding: 70px $space-3 0;

  @include tablet() {
    height: 70vh;
  }

  @include mobile() {
    height: 50vh;
  }
}

.photo-me {
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.4);
  background-color: #D7D4D4;
  border-radius: 255px 15px 270px 9px/15px 225px 15px 290px;
  border: solid 4px #D7D4D4;
  img {
    margin-top: 4px;
  }

  @include mobile() {
    border: none;
    box-shadow: none;
    background-color: transparent;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding-bottom: 50px;
    }
  }
}