---
---
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" 
  content="Grzegorz Janoszek fotografia ślubna, eventowa, produktowa. Film i fotografia. Katowice, Kraków, Żywiec, Śląsk, Polska. Fotograf Żywiec. Fotograf Katowice. Fotograf Kraków. Film Ślubny. Fotograf ślubny. Fotograf eventowy. Filmowiec.">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/styles/main.css">
  <link href='http://fonts.googleapis.com/css?family=Cinzel&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap" rel="stylesheet" type='text/css'>
</head>
<body>

<header class="{% if page.whiteNav == true %}navigation--white{% endif %}" data-scroll-header id="ScrollTop">
  <nav class="navigation mobile-hide">
    <ul class="navigation__buttons">
      <li class="navigation__button"><a data-scroll data-easing="easeOutQuint" href="/#ScrollTo">Portfolio</a></li>
      <li class="navigation__button"><a href="/sluby">Śluby</a></li>
      <li class="navigation__button"><a href="/eventy/">Eventy</a></li>
    </ul>
  </nav>

  <nav class="navigation mobile-hide">
    <ul class="navigation__buttons">
      <li class="navigation__button"><a href="/filmy/">Filmy</a></li>
      <li class="navigation__button"><a href="/o-mnie">O mnie</a></li>
      <li class="navigation__button"><a href="/kontakt/">Kontakt</a></li>
    </ul>
  </nav>

  <button class="hamburger__button mobile-show">
      <span class="hamburger__button-icon"></span>
  </button>

  <div class="hamburger__drawer">
    <ul class="hamburger__list">
      <li class="hamburger__item"><a href="/#ScrollTo">Portfolio</a></li>
      <li class="hamburger__item"><a href="/sluby">Śluby</a></li>
      <li class="hamburger__item"><a href="/eventy/">Eventy</a></li>
      <li class="hamburger__item"><a href="/filmy/">Filmy</a></li>
      <li class="hamburger__item"><a href="/o-mnie">O mnie</a></li>
      <li class="hamburger__item"><a href="/kontakt/">Kontakt</a></li>
    </ul>
  </div>
    
</header>


  <div class="social-icons">
    <a class="social-icons__link icon icon__instagram {% if page.whiteNav == true %}icon--white{% endif %}" href="https://www.instagram.com/trust.gj" aria-label="Instagram profile"></a>
    <a class="social-icons__link icon icon__facebook {% if page.whiteNav == true %}icon--white{% endif %}" href="https://www.facebook.com/grzesjanoszek" aria-label="Facebook profile"></a>
    <a class="social-icons__link icon icon__youtube {% if page.whiteNav == true %}icon--white{% endif %}" href="https://www.youtube.com/user/xTheTrust" aria-label="Youtube profile"></a>
  </div>


  

{{ content }}



<footer>
  <div class="flex mobile-flex-column justify-between items-center col-10">
    <span class="col-4 mobile-col-12">Telefon: +48 509 272 025</span>
    <div class="col-4 flex mobile-order-3 justify-center">
      <a class="social-icons__link icon icon--white icon__instagram" href="https://www.instagram.com/trust.gj" aria-label="Instagram icon"></a>
      <a class="social-icons__link icon icon--white icon__facebook" href="https://www.facebook.com/grzesjanoszek" aria-label="Facebook icon"></a>
      <a class="social-icons__link icon icon--white icon__youtube" href="https://www.youtube.com/user/xTheTrust" aria-label="Youtube icon"></a>
    </div>
    <span class="col-4 mobile-col-12 mobile-mt2 mobile-mb2">Email: janoszekfotovideo@gmail.com</span>
  </div>
  <div class="mt5 mobile-mt2">Grzegorz Janoszek Fotografia & Video</div>
</footer>



<a data-scroll data-easing="easeOutQuint" href="/#ScrollTop" class="arrows" aria-label="Instagram"></a>

<script src="{{site.baseurl}}/assets/scripts/showButtonOnScroll.js"></script>
<script src="{{site.baseurl}}/assets/scripts/hamburger.js"></script>


</body>
</html>
